<h1>Busca avançada</h1>
<div id='advanced_search'>
  <%= form_with url: advanced_search_results_inns_path, method: :get do |f| %>
    <div>
      <%=f.label :query, 'Buscar avançadamente:'%>
      <%=f.text_field :query %>
    </div>
    <div>
      <%= f.label :pet, 'Animais:' %>
      <%#= f.select :pet, options_for_select(Inn.pets.map {|key, value| [key.titleize, Inn.pets.key(value)]}) %>
      <%= f.select :pet, options_for_select(Inn.pets.keys.map { |pet| [pet.titleize, Inn.pets[pet]] }) %>
    </div>
    <div>
      <%#= f.label :accessible %>
      <%#= f.select :accessible, options_for_select(Room.accessibles.map {|key, value| [key.titleize, Room.accessibles.key(value)]}) %>
    </div>
    <%=f.submit 'Buscar'%>
  <% end %>
</div>
