<h1>Busca avançada</h1>
<div id='advanced_search'>
  <%= form_with url: advanced_search_results_inns_path, method: :get do |f| %>
    <div>
      <%=f.label :query, 'Buscar avançadamente:'%>
      <%=f.text_field :query %>
    </div>
    <div>
      <%= f.label :pet, 'Animais' %>
      <%= f.select :pet, options_for_select(Inn.pets.keys.map { |pet| [pet.titleize, Inn.pets[pet]] }) %>
    </div>
    <div>
      <%= f.label :tv, 'Tv' %>
      <%= f.select :tv, options_for_select(Room.tvs.keys.map { |tv| [tv.titleize, Room.tvs[tv]] }) %>
    </div>
    <div>
      <%= f.label :accessible, 'Acessibilidade' %>
      <%= f.select :accessible, options_for_select(Room.accessibles.keys.map { |accessible| [accessible.titleize, Room.accessibles[accessible]] }) %>
    </div>
    <div>
      <%= f.label :air_conditioner, 'Ar condicionado' %>
      <%= f.select :air_conditioner, options_for_select(Room.air_conditioners.keys.map { |air_conditioner| [air_conditioner.titleize, Room.air_conditioners[air_conditioner]] }) %>
    </div>
    <%=f.submit 'Busca avançada'%>
  <% end %>
</div>
