<h1>Busca avançada</h1>
<div id='advanced_search'>
  <%= form_with url: advanced_search_results_inns_path, method: :get do |f| %>
    <div>
      <%=f.label :query, 'Buscar avançadamente:'%>
      <%=f.text_field :query %>
    </div>
    <div>
      <%= f.label :pet, 'Animais' %>:
      <%= f.select :pet, options_for_select(Inn.pets.keys.map { |pet| [pet.titleize, Inn.pets[pet]] }) %>
    </div>
    <div>
      <%= f.label :tv, 'Tv' %>:
      <%= f.select :tv, options_for_select(Room.tvs.keys.map { |tv| [tv.titleize, Room.tvs[tv]] }) %>
    </div>
    <%=f.submit 'Buscar'%>
  <% end %>
</div>
<%#= aceita pets,  t.integer "balcony"
    t.integer "air_conditioner"
    t.integer "tv"
    t.integer "wardrobe"
    t.integer "safe"
    t.integer "accessible"
    t.integer "available"%>
