<h2>Detalhes da Pousada</h2>
<% if @inn.nil? %>
  <p>Não existe Pousada cadastrada.</p>
<% else %>
  <%= @inn.trade_name %>
  <section id="inn">
    <div>
      <dl>
        <dt>Nome Fantasia:</dt>
        <dd><%= @inn.trade_name %></dd>
        <% if (current_user.present? && current_user.owner?) %>
          <dt>Razão Social:</dt>
          <dd><%= @inn.company_name %></dd>
          <dt>CNPJ:</dt>
          <dd><%= @inn.registration_number %></dd>
        <% end %>
        <dt>Telefone:</dt>
        <dd><%= @inn.phone %></dd>
        <dt>Email:</dt>
        <dd><%= @inn.email %></dd>
        <dt>Endereço: </dt>
        <dd><%= @inn.address %></dd>
        <dt>Bairro: </dt>
        <dd><%= @inn.neighborhood %></dd>
        <dt>Cidade:</dt>
        <dd><%= @inn.city %></dd>
        <dt>Telefone:</dt>
        <dd><%= @inn.phone %></dd>
        <dt>CEP:</dt>
        <dd><%= @inn.zip_code %></dd>
        <dt>Descrição:</dt>
        <dd><%= @inn.description %></dd>
        <dt>Formas de pagamento:</dt>
        <dd><%= @inn.payment_methods %></dd>
        <dt>Animais:</dt>
        <dd><%= @inn.pet %></dd>
        <dt>Regras:</dt>
        <dd><%= @inn.rules %></dd>
        <dt>Entrada:</dt>
        <dd><%= @inn.check_in.strftime('%H:%M') %></dd>
        <dt>Saída:</dt>
        <dd><%= @inn.check_out.strftime('%H:%M') %></dd>
        <dt>Status:</dt>
        <dd><%= @inn.status %></dd>
      </dl>
    </div>
    <%= link_to 'Editar detalhes', edit_inn_path(@inn)%>
  <% end%>
</section>
