<h2>Detalhes da Pousada</h2>
<% if @inn.nil? %>
  <p>Não existe Pousada cadastrada.</p>
<% else %>
  <%= @inn.trade_name %>
  <section id="inn">
    <div>
      <dl>
        <dt><%= Inn.human_attribute_name(:trade_name)%>:</dt>
        <dd><%= @inn.trade_name %></dd>
        <% if (current_user.present? && current_user.owner?) %>
          <dt><%= Inn.human_attribute_name(:company_name)%>:</dt>
          <dd><%= @inn.company_name %></dd>
          <dt>CNPJ:</dt>
          <dd><%= @inn.registration_number %></dd>
        <% end %>
        <dt><%= Inn.human_attribute_name(:email)%>:</dt>
        <dd><%= @inn.email %></dd>
        <dt><%= Inn.human_attribute_name(:address)%>:</dt>
        <dd><%= @inn.address %></dd>
        <dt><%= Inn.human_attribute_name(:neighborhood)%>:</dt>
        <dd><%= @inn.neighborhood %></dd>
        <dt><%= Inn.human_attribute_name(:city)%>:</dt>
        <dd><%= @inn.city %></dd>
        <dt><%= Inn.human_attribute_name(:phone)%>:</dt>
        <dd><%= @inn.phone %></dd>
        <dt><%= Inn.human_attribute_name(:zip_code)%>:</dt>
        <dd><%= @inn.zip_code %></dd>
        <dt><%= Inn.human_attribute_name(:description)%>:</dt>
        <dd><%= @inn.description %></dd>
        <dt><%= Inn.human_attribute_name(:payment_methods)%>:</dt>
        <dd><%= @inn.payment_methods %></dd>
        <dt><%= Inn.human_attribute_name(:pet)%>:</dt>
        <dd><%= @inn.pet %></dd>
        <dt><%= Inn.human_attribute_name(:rules)%>:</dt>
        <dd><%= @inn.rules %></dd>
        <dt><%= Inn.human_attribute_name(:check_in)%>:</dt>
        <dd><%= @inn.check_in.strftime('%H:%M') %></dd>
        <dt><%= Inn.human_attribute_name(:check_out)%>:</dt>
        <dd><%= @inn.check_out.strftime('%H:%M') %></dd>
        <dt><%= Inn.human_attribute_name(:status)%>:</dt>
        <dd><%= @inn.status %></dd>
      </dl>
    </div>
    <% if (current_user.present? && current_user.owner?) %>
      <%= link_to 'Editar detalhes', edit_inn_path(@inn)%>
      <% rooms = @inn.rooms%>
    <% else %>
      <% rooms = @inn.rooms.where(available: :sim)%>
    <% end %>
    <p>---------------------------------------</p>
    <h2>Quartos disponíveis</h2>
    <% rooms.each do |room| %>
      <dl>
        <dt>Nome:</dt>
        <dd><%= room.name %></dd>
        <dt>Descrição:</dt>
        <dd><%= room.description %></dd>
        <dt>Tamanho:</dt>
        <dd><%= room.size %></dd>
        <dt>Hóspedes:</dt>
        <dd><%= room.guest %></dd>
        <dt>Diária:</dt>
        <% if room.prices.length == 0%>
          <dd><%= number_to_currency(room.daily_rate, locale: :'pt-BR') %></dd>
        <%else%>
          <%room.prices.each do |price|%>
            <% dates = Price.where(start_date: price.start_date..price.final_date, room_id: room.id)%>
            <% dates.each do |date| %>
              <% deco = Range.new(date.start_date, date.final_date) %>
              <% if deco && deco.include?(Date.today)%>
                <dd><%= number_to_currency(date.new_rate, locale: :'pt-BR') %></dd>
              <% else %>
                <dd><%= number_to_currency(room.daily_rate, locale: :'pt-BR') %></dd>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <dt>Varanda: </dt>
        <dd><%= room.balcony %></dd>
        <dt>Tv:</dt>
        <dd><%= room.tv %></dd>
        <dt>Guarda-roupas:</dt>
        <dd><%= room.wardrobe %></dd>
        <dt>Cofre:</dt>
        <dd><%= room.safe %></dd>
        <dt>Acessibilidade:</dt>
        <dd><%= room.accessible %></dd>
        <dt>Ar condicionado: </dt>
        <dd><%= room.air_conditioner %></dd>
        <dt>Disponibilidade:</dt>
        <dd><%= room.available %></dd>
      </dl>
    <% end%>
  <% end%>
</section>
