<h1>Quando deseja se hospedar?</h1>
Nome: <%= @room.name%>
<% if(@reservation.errors.any?)%>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @reservation.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @reservation, url: validates_room_reservations_path, method: :post) do |f| %>
  <div class="field">
    <%= f.label :guest_number %>
    <%= f.text_field :guest_number %>
  </div>
  <div>
    <%= f.label :start_date %>
    <%= f.date_field :start_date%>
  </div>
  <div>
    <%= f.label :final_date%>
    <%= f.date_field :final_date%>
  </div>
  <div class="actions">
    <%= f.submit "Fazer pre-reserva" %>
  </div>
<% end %>
