<h1>Detalhes da Reserva</h1>
<div>
  <dl>
    <dt>Nome:</dt>
    <dd><%= @room.name %></dd>
    <dt>Preço da reserva:</dt>
    <dd><%= number_to_currency(@reservation.total_price, locale: :'pt-BR') %></dd>
    <dt>Hóspedes:</dt>
    <dd><%= @reservation.guest_number %></dd>
    <dt>Check-in:</dt>
    <dd><%= I18n.l(session[:start].to_date) %></dd>
    <dt>Check-out:</dt>
    <dd><%= I18n.l(session[:final].to_date)%></dd>
  </dl>
  <%= link_to 'Create New Room', new_room_reservation_path(price: @reservation.total_price, room_id: @room.id, guest_number: @reservation.guest_number, start: @reservation.start_date, end: @reservation.final_date) %>
