<h1>Detalhes da Reserva</h1>
<div>
  <dl>
    <%= render 'details' %>
  </dl>
</div>
<% if owner_signed_in? %>
  <% if @reservation.active? %>
    <%= button_to "Check in", check_in_room_reservation_path(@room, @reservation), method: :post%>
    <%= button_to "Cancelar reserva", cancel_reservation_by_owner_room_reservation_path(@room, @reservation), method: :post%>
  <% end %>
<% elsif guest_signed_in? %>
  <% if @reservation.ended? %>
    <% if @reservation.review.nil? %>
      <%= link_to "Avaliar estadia", new_room_reservation_review_path(@room, @reservation)%>
    <% else%>
      <%= link_to "Ver avaliação", room_reservation_review_path(@room, @reservation, @review)%>
    <% end %>
  <% end %>
  <%= button_to "Cancelar Reserva", cancel_reservation_room_reservation_path(@room, @reservation), method: :post%>
<% end %>
