<h1>Detalhes da Reserva</h1>
<div>
  <dl>
    <dt>Nome:</dt>
    <dd><%= @room.name %></dd>
    <dt>Número de hóspedes:</dt>
    <dd><%= @reservation.guest_number %></dd>
    <dt>Preço total da estadia:</dt>
    <dd><%= number_to_currency(@reservation.total_price, locale: :'pt-BR') %></dd>
    <dt>Dia da entranda:</dt>
    <dd><%= I18n.l(@reservation.start_date.to_date) %></dd>
    <dt>Dia da saída:</dt>
    <dd><%= I18n.l(@reservation.final_date.to_date) %></dd>
    <dd><%= @inn.payment_methods %></dd>
    <dt>Check in:</dt>
    <dd><%= @inn.check_in.strftime('%H:%M') %></dd>
    <dt>Check out:</dt>
    <dd><%= @inn.check_out.strftime('%H:%M') %></dd>
  </dl>
</div>
<%= button_to "Cancelar Reserva", cancel_guest_registration_path(@reservation)%>
