<h2>Detalhes do Quarto</h2>
<% if @room.nil? %>
  <p>Não existe Quarto cadastrado.</p>
<% else %>
  <%= @room.name %>
  <section id="room">
    <div>
      <dl>
        <dt>Ar condicionado: </dt>
        <dd><%= @room.air_conditioner %></dd>
        <dt>Nome:</dt>
        <dd><%= @room.name %></dd>
        <dt>Descrição:</dt>
        <dd><%= @room.description %></dd>
        <dt>Tamanho:</dt>
        <dd><%= @room.size %></dd>
        <dt>Hóspedes:</dt>
        <dd><%= @room.guest %></dd>
        <dt>Diária:</dt>
        <dd><%= number_to_currency(@room.daily_rate, locale: :'pt-BR') %></dd>
        <dt>Varanda: </dt>
        <dd><%= @room.balcony %></dd>
        <dt>Tv:</dt>
        <dd><%= @room.tv %></dd>
        <dt>Guarda-roupas:</dt>
        <dd><%= @room.wardrobe %></dd>
        <dt>Cofre:</dt>
        <dd><%= @room.safe %></dd>
        <dt>Acessibilidade:</dt>
        <dd><%= @room.accessible %></dd>
        <dt>Disponibilidade:</dt>
        <dd><%= @room.available %></dd>
      </dl>
      <h3>Preços por período:</h3>
      <% if @prices.nil? %>
        <p>Não existem preços cadastrado.</p>
      <% else %>
        <% @prices.each do |price|%>
          <dl>
            <dt>Novo preço: </dt>
            <dd><%= number_to_currency(price.new_rate, locale: :'pt-BR') %></dd>
            <dt>Datas: </dt>
            <dd>Entre: <%= I18n.l(price.start_date) %> até <%= I18n.l(price.final_date) %></dd>
          </dl>
          <%= link_to 'Ver precificação', price_path(price) %>
          <p>----------------</p>
        <% end %>
      <% end %>
      <%= link_to 'Editar', edit_room_path %>
      <%= link_to 'Cadastrar novos preços', new_price_path(@room.id)%>
      <%= button_to 'Apagar', @room, method: :delete, class:'btn btn-outline-danger mt-3' %>
    </div>
  <% end%>
</section>
