<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-light">
    <div class="container">
      <nav class='d-flex justify-content-center align-items-center'>
        <%= link_to "Início", root_path, class:'px-3' %>
        <% if user_signed_in? %>
          <%= link_to 'Cadastrar pousada', new_inn_path, class:'px-3'%>
          <%= link_to 'Pousada', inns_path, class:'px-3' %>
          <%= link_to 'Quartos', rooms_path, class:'px-3'%>
          <%= link_to 'Preços', prices_path, class:'px-3'%>
          <%= link_to 'Seus dados', edit_user_registration_path, class:'px-3'%>
          olá <%= current_user.name%>
          <%= current_user.email%>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete, class:'btn btn-outline-danger mx-3' %>
        <% else %>
          <%= link_to "Entrar", new_user_session_path , class:'px-3'%>
        <% end %>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
